<section ng-repeat="story in page.data | limitTo: 1" class="">
  <header class="story-heading" ng-style="{'background-image':'url('+story['Primary image']+')'}"></header>
  <div class="row">
    <div class="large-12 columns">
      <article class="story">
        <h1 class="story-title">{{ story.Title }}</h1>
        <section class="story-inner">
          <div class="row">
            <aside class="large-3 columns">
              <div class="story-aside">
                <div class="aside-content text-center">
                  <h4>
                    Article Info
                  </h4>
                </div>
                <div class="aside-content text-center">
                  <h5 class="story-date">
                    <small>Date</small><br>
                    {{ story.Date }}
                  </h5>
                </div>
                <div class="aside-content text-center">
                  <h5 class="story-location">
                    <small>Location</small><br>
                    {{ story.Place }}, {{ story.State }}
                  </h5>
                </div>
                <div class="aside-content text-center">
                  <h5>
                    <small>Tags</small><br>
                    <span ng-repeat="keyword in story.Keywords">{{ keyword }}{{ $last ? "" : ", " }}</span>
                  </h5>
                </div>
              </div>
            </aside>
            <article class="large-9 columns">
              <p><img ng-src="{{ story['Primary image'] }}" alt=""></p>
              <p>
                <em>{{ story['Primary image caption'] }}</em><br>
                <small>{{ story['Primary image rights information'] }}</small>
              </p>
              <hr>
              <div class="story-html" ng-bind-html="story.html"></div>
            </article>
          </div>
        </section>
      </article>
    </div>
  </div>


</section>
